.st-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

.st-container > input,
.st-container > a {
	position: fixed;
	top: 0px;
	width: 20%;
	cursor: pointer;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
}

.st-container > input {
	opacity: 0;
	z-index: 1000;
}

.st-container > a {
	z-index: 10;
	font-weight: 700;
	background: #FFFFFF;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.st-container:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 9;
	top: 0;
}

#st-control-1, #st-control-1 + a {
	left: 0;
}

#st-control-2, #st-control-2 + a {
	left: 20%;
}

#st-control-3, #st-control-3 + a {
	left: 40%;
}

#st-control-4, #st-control-4 + a {
	left: 60%;
}

#st-control-5, #st-control-5 + a {
	left: 80%;
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
	background: #FF0000;
}



.st-container > input:hover + a{
	background: #666666;
}

.st-container > input:hover + a:after {
	border-bottom-color: #666666;
}

.st-scroll,
.st-panel {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	
}

.st-scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	
	/* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

.st-panel{
	background: #FFFFFF;
} 

#st-control-1:checked ~ .st-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}


/* Content elements */
.content
{
  position: absolute;
  width: 80%;
  left:10%;
  padding: 0;
  top: 10%;
  -webkit-backface-visibility: hidden;
}
#bg {
  position:absolute; 
  top:-50%; 
  left:-50%; 
  width:200%; 
  height:200%;
}
#bg img {
  position:absolute; 
  top:0; 
  left:0; 
  right:0; 
  bottom:0; 
  margin:auto; 
  min-width:50%;
  min-height:50%;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	margin-top: 50px;
	top: 0;
	left: 0;
	width: 100%;
	height: 94%;
}
/* image gallery */
#gallerycontent{ 
margin: auto;
width: 100%;
} 

ul.image_gallery{
width:100%;
}

.image_gallery li {
display: inline;
list-style: none;
width: 220px;
height: 220px;
float: left;
margin: 4px 4px 4px 4px;
border:solid #FF0000 3px;}

/*image overlay effect*/

.img-wrap{
height:200px;
overflow:hidden;
position:relative;
width:200px;
}
.img-overlay{
background-color:#000;
bottom:0;
color:#fff;
opacity:0;
filter: alpha(opacity = 0);
position:absolute;
width:100%;
z-index:1000;
}
.img-overlay h4, .img-overlay p{
padding:0 10px;
}
.img-wrap:hover .img-overlay{
opacity:0.75;
filter: alpha(opacity = 75);
transition:opacity 0.25s;
-moz-transition:opacity 0.25s;
-webkit-transition:opacity 0.25s;
}



/* self clearing floats for all browsers except ie6 & ie7 */
.image_gallery:after, #content:after, #sidebar:after{ 
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden; 
}

.st-panel h2 {
	color: #FF0000;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: absolute;
	font-size: 54px;
	font-weight: 900;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 50%;
	-webkit-backface-visibility: hidden;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	0% { 
		-webkit-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveDown{
	0% { 
		-moz-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0% { 
		-o-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveDown{
	0% { 
		-ms-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveDown{
	0% { 
		transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

.st-panel p {
	position: absolute;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #8b8b8b;
	z-index: 2;
	padding: 0;
	width: 50%;
	left: 25%;
	top: 50%;
	margin: 10px 0 0 0;
	-webkit-backface-visibility: hidden;
}
#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p{
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	0% { 
		-webkit-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0% { 
		-moz-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0% { 
		-o-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveUp{
	0% { 
		-ms-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveUp{
	0% { 
		transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

/* Colored sections */


.st-color,
.st-deco{
	background: #FFFFFF;
}
.st-color :after {
	color: #fa96b5;
}
.st-color .st-deco {
	background: #fff;
}
.st-color h2 {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 
.st-color p {
	color: #fff;
	color: rgba(255,255,255,0.8);
}

@media screen and (max-width: 520px) {
	.st-panel h2 {
		font-size: 42px;
	}
	
	.st-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	
	.st-container > a {
		font-size: 13px;
	}
}
@media screen and (max-width: 360px) {
	.st-container > a {
		font-size: 10px;
	}
	
	
}
@media screen and (max-width: 1024px){
			img.bg {
				left: 50%;
				margin-left: -512px; }
		}



/**********************************************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #1ad6fd, #1d62fc);
  font-size: 100;
  color: #fff;
}
.avatar {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 50%;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.6);
    opacity: 1;
    transform: translateY(-15px);
  }
  75% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.6);
    opacity: 1;
    transform: none;
  }
}
.button {
  position: absolute;
  color: #000;
  left: 155px;
  bottom: 8px;
  border: 0;
  width: 32px;
  height: 32px;
  margin: 4px 0 0;
  line-height: 0;
  border-radius: 3px;
}
.username {
  font-size: 60px;
}
.description {
  margin-top: 20px;
  font-weight: 300;
  text-shadow: 0 0 5px #fff;
}
button i {
  transition: color 200ms;
  font-size: 16px;
}
button:hover i {
  color: #393;
}


.social-icons {
margin: 5rem auto 0 auto;
padding-top: 1rem;
padding-top: 16px;
}
.blog-description {
margin: 0;
font-size: 1.8rem;
line-height: 1.5em;
font-weight: 300;
font-family: 'Open Sans', serif;
letter-spacing: 0;
}



.buttonfeb{
  margin: 0 auto; /* Centro el contenedor */
  padding-top: 6rem;
  padding-top: 100px;
}
.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  /*float: left;*/
  border-radius: 10px;
  font-family: "Lato", serif;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;  
}

.blue
{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.red
{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.green
{
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

.yellow
{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

@media screen and (max-width: 520px) {
  .st-panel h2 {
    font-size: 42px;
  }
  
  .st-panel p {
    width: 90%;
    left: 5%;
    margin-top: 0;
  }
  
  .st-container > a {
    font-size: 13px;
  }
}
@media screen and (max-width: 360px) {
  .st-container > a {
    font-size: 10px;
  }
  
  
}