* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #1ad6fd, #1d62fc);
  font-size: 100;
  color: #fff;
}
.avatar {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 50%;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.6);
    opacity: 1;
    transform: translateY(-15px);
  }
  75% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.6);
    opacity: 1;
    transform: none;
  }
}
.button {
  position: absolute;
  color: #000;
  left: 155px;
  bottom: 8px;
  border: 0;
  width: 32px;
  height: 32px;
  margin: 4px 0 0;
  line-height: 0;
  border-radius: 3px;
}
.username {
  font-size: 60px;
}
.description {
  margin-top: 20px;
  font-weight: 300;
  text-shadow: 0 0 5px #fff;
}
button i {
  transition: color 200ms;
  font-size: 16px;
}
button:hover i {
  color: #393;
}


.social-icons {
margin: 5rem auto 0 auto;
}
.blog-description {
margin: 0;
font-size: 1.8rem;
line-height: 1.5em;
font-weight: 300;
font-family: 'Open Sans', serif;
letter-spacing: 0;
}


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

.box1-border, .box2-border, .box3-border, .box4-border {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  background: #E9573F;
  margin: 25px 15px;
  border-radius: 10px;
  box-shadow: 0 0 25px #333;
}
.box1, .box2, .box3, .box4 {
  position: absolute;
  margin: 3px;
  padding: 22px;
  width: 150px;
  height: 150px;
  background: #FC6E51;
  border-radius: 10px;
  text-shadow: 0 0 20px #333;
  cursor: pointer;
  z-index: 4;
  transition: padding-top 200ms, padding-bottom 200ms;
}
.box2 {
  background: #CCD1D9;
}
.box2-border {
  background: #AAB2BD;
}
.box3 {
  background: #FFCE54;
}
.box3-border {
  background: #F6BB42;
}
.box4 {
  background: #A0D468;
}
.box4-border {
  background: #8CC152;
}
.box1-border:hover .box1 {
  transition: padding 300ms;
  padding: 0 22px;
  box-shadow: 0 1px 0px #666;
}
.box2-border:hover .box2 {
  transition: padding 300ms;
  padding: 0 22px;
  box-shadow: 0 1px 0px #666;
}
.box3-border:hover .box3 {
  transition: padding 300ms;
  padding: 0 22px;
  box-shadow: 0 1px 0px #666;
}
.box4-border:hover .box4 {
  transition: padding 300ms;
  padding: 0 22px;
  box-shadow: 0 1px 0px #666;
}
.container {
  margin: 20px auto;
  width: 920px;
  height: 300px;
}

.enter {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  text-size: 20px;
  left: 10px;
  width: 180px;
  box-shadow: inset 0 -2px 0 1px #656D78;
}


