* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #1ad6fd, #1d62fc);
  font-size: 100;
  color: #fff;
}
.avatar {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 50%;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.6);
    opacity: 1;
    transform: translateY(-15px);
  }
  75% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.6);
    opacity: 1;
    transform: none;
  }
}
.button {
  position: absolute;
  color: #000;
  left: 155px;
  bottom: 8px;
  border: 0;
  width: 32px;
  height: 32px;
  margin: 4px 0 0;
  line-height: 0;
  border-radius: 3px;
}
.username {
  font-size: 60px;
}
.description {
  margin-top: 20px;
  font-weight: 300;
  text-shadow: 0 0 5px #fff;
}
button i {
  transition: color 200ms;
  font-size: 16px;
}
button:hover i {
  color: #393;
}


.social-icons {
margin: 5rem auto 0 auto;
}
.blog-description {
margin: 0;
font-size: 1.8rem;
line-height: 1.5em;
font-weight: 300;
font-family: 'Open Sans', serif;
letter-spacing: 0;
}



.buttonfeb{
  margin: 0 auto; /* Centro el contenedor */
  padding-top: 70px;
}
.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  /*float: left;*/
  border-radius: 10px;
  font-family: "Lato", serif;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;  
}

.blue
{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.red
{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.green
{
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

.yellow
{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

